apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ instance_name }}-spring-boot
  labels:
    app: {{ instance_name }}-spring-boot
spec:
  selector:
    matchLabels:
      app: {{ instance_name }}-spring-boot
  template:
    metadata:
      name: {{ instance_name }}-spring-boot
      labels:
        app: {{ instance_name }}-spring-boot
    spec:
      containers:
      - name: {{ instance_name }}-spring-boot
        image: {{ spring-boot.image }}
        ports:
        - containerPort: 9090 # 容器端口
        resources:
          limits:
            cpu: "3" # cpu 限制
            memory: "2048Mi" # 内存限制
          requests:
            cpu: "1" # cpu 预留（与限制值一致）
            memory: "1024Mi" # 内存预留（与限制值一致）
---
apiVersion: v1
kind: Service
metadata:
  name: {{ instance_name }}-spring-boot
spec:
  type: NodePort
  ports:
  - port: 9090 # 服务端口
  selector:
    app: {{ instance_name }}-spring-boot
